name: Typecheck

on: [push]

jobs:
  typecheck:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: npm i
        run: npm i

      - run: npm run typecheck
        name: npm run typecheck
